<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
  <title>注文ID:[[${stock.name}]]</title>
</head>
<body>
<div layout:fragment="sidebar">
  <div th:replace="layouts/sidebar :: sidebar ('stock', 'order')"></div>
</div>
<div layout:fragment="content-header">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>注文ID:[[${stock.name}]]</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/orders/}">注文履歴一覧</a></li>
        <li class="breadcrumb-item">注文ID:[[${stock.name}]]</li>
      </ol>
    </div>
  </div>
</div>
<div layout:fragment="content">
  <div class="card card-purple">
    <div class="card-body">
      <div th:object="${stock}">
        <input th:replace="fragments/label :: input ('注文者', *{userName})"/>
        <input th:replace="fragments/label :: input ('商品名', *{stockName})"/>
        <input th:replace="fragments/label :: input ('個数', *{quantity})"/>
        <input th:replace="fragments/label :: input ('注文日時', *{#temporals.format(e.createdAt, 'yyyy/MM/dd HH:mm:ss')})"/>
        <div class="card-footer clearfix text-center">
          <div class="text-left float-left">
            <a th:href="@{/orders}" class="btn btn-secondary">一覧に戻る</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>