<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
	<head layout:fragment="layouts/layout::header">
	<title>投稿登録完了｜Sample</title>
</head>
<body>
	<div layout:fragment="sidebar">
		<div th:replace="layouts/sidebar :: sidebar ('post', 'post')"></div>
	</div>
	<div layout:fragment="content-header">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>投稿完了</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right" >
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/post/}">投稿管理</a></li>
					<li class="breadcrumb-item active" >投稿登録</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
	<div layout:fragment="content">

		<div class="card card-purple">
			<div class="card-body">

				<p>投稿が完了しました。</p>

			</div>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" th:inline="javascript">
		</script>
	</div>
</body>
</html>