<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
    <head layout:fragment="~{layouts/layout::header}">
	<title>ユーザー管理｜Sample</title>
</head>
<body>
	<div layout:fragment="content">

	    <!-- Content Header (Page header) -->
	    <div class="content-header">
	      <div class="container-fluid">
	        <div class="row mb-2">
	          <div class="col-sm-6">
	            <h1>商品変更</h1>
	          </div><!-- /.col -->
	          <div class="col-sm-6">
	            <ol class="breadcrumb float-sm-right">
	              <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
	              <li class="breadcrumb-item"><a th:href="@{/item}">商品管理</a></li>
	              <li class="breadcrumb-item active">商品変更</li>
	            </ol>
	          </div><!-- /.col -->
	        </div><!-- /.row -->
	      </div><!-- /.container-fluid -->
	    </div>
	    <!-- /.content-header -->

	    <!-- Main content -->
	    <div class="content">
	      <div class="container-fluid">

	        <div class="row">
	          <div class="col-12">

	            <div class="card card-purple">
					<div class="card-body">
						<form th:action="@{/items/{id}(id=*{id})}" th:method="put" th:object="${item}">
			        		<div class="form-group row">
			          			<label class="col-md-2 control-label">商品名</label>
			          			<div class="col-md-10">
			            			<input class="form-control" type="text" th:field="*{name}" />
			            			<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
			          			</div>
			        		</div>
			        		<div class="form-group row">
			          			<label class="col-md-2 control-label">価格</label>
			          			<div class="col-md-10">
			            			<input class="form-control" type="text" th:field="*{price}" />
			            			<div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
			          			</div>
			        		</div>
			        		<div class="form-group row">
			          			<label class="col-md-2 control-label">生産者</label>
			          			<div class="col-md-10">
			            			<input class="form-control" type="text" th:field="*{vendor}" />
			            			<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div>
			          			</div>
			        		</div>
			        		<div class="form-group row">
			          			<div class="offset-md-2 col-md-9">
			            			<button class="btn btn-secondary">変更する</button>
			            		</div>
			          		</div>
				      	</form>
					</div>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
</body>
</html>