<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
	<head layout:fragment="layouts/layout::header">
	<title>パスワードリマインダ｜Sample</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="content">
			<main>
				<article class="detail">
					<div class="entry-header">
					  <h1 class="entry-title">パスワードリマインダ</h1>
					</div>
					<div class="entry-content">

						<p>下記のメールアドレスに、パスワード再設定ページのURLを記載したメールを送信します。<br />
							メール受信後7時間以内に、パスワード再設定を完了させてください。<br />
							7時間後にURLは無効になります。</p>

						<form th:object="${entryRemindForm}" th:action="@{/entry/remind}" method="post">
							<table class="formTable">
								<tbody>
								<!-- loop -->
								<tr>
									<th colspan="2"><span class="mark">メールアドレス</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('email', '', 'email', 'text size_l', 100)" />
									</td>
								</tr>
								<!--/ loop -->
								</tbody>
							</table>
							<!-- ↑↑↑入力 -->

							<p class="btnArea"><input type="submit" name="regist" value="送信する"></p>

						</form>

					</div>
				</article>
			</main>
		</div>

	</div>
</body>
</html>
