<html xmlns:th="http://www.thymeleaf.org">
<body>
<form>
  <th:block th:fragment="input (label, name, items, k, v)">
    <div th:with="valid=${!#fields.hasErrors(name)}"
         th:class="${'form-group row' + (valid ? '' : ' has-error')}">
      <label class="col-sm-2 control-label" th:text="${label}">Label</label>
      <div class="col-sm-3">
        <th:block th:each="item: ${items}"
                  th:with="val=${(item['__${k}__'] instanceof T(com.isystk.sample.common.dto.ID)) ? item['__${k}__'].value : item['__${k}__']}"
          >
          <input type="checkbox"
                 th:value="${val}" th:field="*{__${name}__}"  th:id="${val}">
          <label th:for="${val}" th:text="${item['__${v}__']}"></label>
        </th:block>
        <div th:if="${!valid}" class="text-danger" th:errors="*{__${name}__}">Error</div>
      </div>
    </div>
  </th:block>
</form>
</body>
</html>
