<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
	<title>マイページ｜Sample</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content">
			<main id="member">
				<div th:if="${0 < pages.count}">
					<div th:each="e : ${pages.data}">
						<div class="box">
					 		<p th:text="*{e.title}"></p>
							<a th:href="@{/post/{id}/(id=*{e.postId})}">
							<div class="inner">
								<ul class="photo">
									<li th:each="e2 : ${e.imageIdList}">
										<div class="square">
											<img th:src="${@img.url(e2, '_square')}" class="photo"/>
										</div>
									</li>
								</ul>
							</div>
							</a>
					 		<p th:text="*{e.text}"></p>
					 		<p th:text="${#temporals.format(e.registTime, 'yyyy/MM/dd')}"></p>
					 		<a th:href="@{/member/post/edit/{id}/(id=*{e.postId})}"><input type="button" value="編集"></a>
							<form th:action="@{/member/post/delete/{id}/(id=*{e.postId})}" th:method="delete">
								<button class="js-delete">削除</button>
							</form>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix">
						<div th:replace="fragments/paginator :: paginator (${pages}, '/member')" />
					</div>
				</div>
			</main>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {
				$('.js-delete').click(function(e) {
					if (!confirm('削除します。よろしいですか？')) {
						e.preventDefault();
						return false;
					}
				});
			});
		</script>
	</div>
</body>
</html>
