<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}">
<head layout:fragment="~{layouts/layout::header}">
	<title>マイページ｜Sample</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content">
			<main id="member">
				<div th:if="${0 < pages.count}">
					<div th:if="${0 < pages.count}" th:each="e : ${pages.data}">
						<div class="box">
					 		<p th:text="*{e.title}"></p>
							<div class="photo" >
								<img src="/thumb/sample.jpg" class="photo"/>
							</div>
					 		<p th:text="*{e.text}"></p>
					 		<p th:text="*{e.registTime}"></p>
					 		<a href="#"><input type="button" value="編集"></a>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix">
						<div th:replace="~{fragments/paginator :: paginator (${pages}, '/member')}" />
					</div>
				</div>
			</main>
		</div>
	</div>
</body>
</html>
