<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}">
<head layout:fragment="~{layouts/layout::header}">
	<title>Home｜Sample</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content" id="content">
			<main id="top">

				<div class="photo" v-for="e in datalist">
					<a :href="'/post/'+e.postId+'/'">
					<div class="inner">
						<div class="square" v-for="e2 in e.imageUrlList">
							<img :src="e2" class="photo"/>
						</div>
						<div class="txt">
							<p>{{e.title}}&nbsp;{{e.registTimeMMDD}}</p>
							<span>
							</span>
						</div>
					</div>
					</a>
				</div>

			</main>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" th:inline="javascript">
		var myVueapp = new Vue({
			el:"#content",
			mixins: [isystkMixin],
			data:{
				url: '/api/v1/post',
				datalist:[]
			},
			created () {
				(async () => {
					var res = await axios.get(this.url);
					this.datalist = res.data.data;
				})();
			}
			})
		</script>
	</div>
</body>
</html>
