<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
	<title>Home｜Sample</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="content" id="app">
			<main id="top">

				<div v-for="e in datalist">
					<a :href="'/post/'+e.postId+'/'">
					<div class="inner">
						<ul class="photo">
							<li v-for="e2 in e.imageUrlList">
								<div class="square">
									<img :src="e2" class="photo"/>
								</div>
							</li>
						</ul>
						<div class="txt">
							<p>{{e.registTimeMMDD}}&nbsp;{{e.title}}</p>
						</div>
					</div>
					</a>
				</div>

			</main>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" th:inline="javascript">
		var myVueapp = new Vue({
			el:"#app",
			mixins: [isystkMixin],
			data:{
				url: '/api/v1/post',
				datalist:[]
			},
			created () {
				(async () => {
					var res = await axios.get(this.url);
					this.datalist = res.data.data;
				})();
			}
			})
		</script>
	</div>
</body>
</html>
