@charset "UTF-8";

/* 環境表示用ヘッダー */
.headerSt {
position: fixed;
z-index: 9999;
margin: 0;
background: #ff0048;
width: 100%;
text-align: center;
font-weight: bold;
font-size: 0.8em;
line-height: 1.6;
color: #fff;
}
