<aside class="main-sidebar sidebar-dark-purple elevation-4" th:fragment="sidebar (category, item)">
  <!-- Brand Logo -->
  <a th:href="@{/}" class="brand-link">
    <img th:src="@{/static/images/AdminLTELogo.png}" alt="AdminSample Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">LaraEC</span>
  </a>
  <!-- Sidebar Menu -->
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
        data-accordion="false">
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link" th:class="|nav-link ${category=='stocks' ? 'active' : ''}|">
          <i class="nav-icon fas fa-table"></i>
          <p>商品管理
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a th:href="@{/stocks/}" class="nav-link"
               th:class="|nav-link ${item=='stock' ? 'active' : ''}|">
              <i class="fas fa-box-open nav-icon"></i>
              <p>在庫管理</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/orders/}" class="nav-link"
               th:class="|nav-link ${item=='order' ? 'active' : ''}|">
              <i class="fas fa-cart-arrow-down nav-icon"></i>
              <p>注文履歴</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link" th:class="|nav-link ${category=='post' ? 'active' : ''}|">
          <i class="nav-icon fas fa-frown"></i>
          <p>ユーザ管理
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a th:href="@{/post/}" class="nav-link"
               th:class="|nav-link ${item=='post' ? 'active' : ''}|">
              <i class="fas fa-layer-group nav-icon"></i>
              <p>顧客管理</p>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/post/tag/}" class="nav-link"
               th:class="|nav-link ${item=='tag' ? 'active' : ''}|">
              <i class="far fa-comment nav-icon"></i>
              <p>お問い合わせ</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item has-treeview">
        <a href="#" class="nav-link" th:class="|nav-link ${category=='system' ? 'active' : ''}|">
          <i class="fa fa-cogs"></i>
          <p>システム設定
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a th:href="@{/system/mail/}" class="nav-link"
               th:class="|nav-link ${item=='mail' ? 'active' : ''}|">
              <i class="fa fa-file-image"></i>
              <p>画像管理</p>
            </a>
          </li>
        </ul>
      </li>

    </ul>
  </nav>
  <!-- /.sidebar-menu -->
</aside>
