<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<form>
			<th:block th:fragment="input (type, label, name, class, maxlength)">
				<div th:with="valid=${!#fields.hasErrors(name)}" th:class="${valid ? '' : ' has-error'}" >
					<label th:text="${label}">Label</label>
					<input th:type="${type}" th:name="${name}" th:field="*{__${name}__}" th:class="${class}" th:maxlength="${maxlength}"/>
					<div th:if="${!valid}" class="errortxt" th:errors="*{__${name}__}">Error</div>
				</div>
			</th:block>
		</form>
	</body>
</html>
