<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<th:block th:fragment="paginator (p, url)">
			<div class="card-footer clearfix " th:if="${p} != null">
				<ul class="page-numbers">
					<li th:class="${first} ? 'disabled':''" th:with="first=${p.page} == 1">
						<a class="page-numbers" th:if="${first}" ><i class="fa fa-angle-double-left"></i></a>
						<a class="page-numbers" th:if="${not first}" th:href="@{${url}(page=1)}"><i class="fa fa-angle-double-left"></i></a>
					</li>
					<li th:class="${first} ? 'disabled':''" th:with="first=${p.page} == 1">
						<a class="page-numbers" th:if="${first}"><i class="fa fa-angle-left"></i></a>
						<a class="page-numbers" th:if="${not first}" th:href="@{${url}(page=${p.page} - 1)}"><i class="fa fa-angle-left"></i></a>
					</li>
					<li th:each="i : ${#numbers.sequence(1, p.totalPages)}" style="display:inline">
						<a class="page-numbers" th:class="(${i} == ${p.page}) ? 'page-numbers current' : 'page-numbers'" th:if="${i} == ${p.page}" th:text="${i}">1</a>
						<a class="page-numbers" th:if="${i} != ${p.page} and (${p.page} - 5) < ${i} and ${i} < (${p.page} + 5)" th:href="@{${url}(page=${i})}">
							<span th:text="${i}">1</span>
						</a>
					</li>
					<li th:class="${last} ? 'disabled':''" th:with="last=(${p.page} == ${p.totalPages})">
						<a class="page-numbers" th:if="${last}"><i class="fa fa-angle-right"></i></a>
						<a class="page-numbers" th:if="${not last}" th:href="@{${url}(page=(${p.page} + 1))}"><i class="fa fa-angle-right"></i></a>
					</li>
					<li th:class="${last} ? 'disabled':''" th:with="last=(${p.page} == ${p.totalPages})">
						<a class="page-numbers" th:if="${last}"><i class="fa fa-angle-double-right"></i></a>
						<a class="page-numbers" th:if="${not last}" th:href="@{${url}(page=(${p.totalPages}))}"><i class="fa fa-angle-double-right"></i></a>
					</li>
				</ul>
			</div>
		</th:block>
	</body>
</html>
