<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<form>
			<th:block th:fragment="select (name, items, k, v)">
				<select th:field="*{__${name}__}" th:with="valid=${!#fields.hasErrors(name)}" th:class="${(valid ? '' : ' has-error')}" >
					<option value=""
							th:text="${Const['PulldownOption']}">pick one
					</option>
					<option th:each="item : ${items}"
							th:with="val=${(item['__${k}__'] instanceof T(com.isystk.sample.common.dto.ID)) ? item['__${k}__'].value : item['__${k}__']}"
							th:value="${val}"
							th:text="${item['__${v}__']}">dog
					</option>
				</select>
			</th:block>
		</form>
	</body>
</html>
