<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
	<head layout:fragment="layouts/layout::header">
	<title>会員登録｜Sample</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="content">
			<main>
				<article class="detail">
					<div class="entry-header">
						<h1 class="entry-title">会員登録画面</h1>
					</div>
					<div class="entry-content">

						<p>会員情報を入力してください。この情報は後で変更することも出来ます。</p>

						<form id="entryForm" th:object="${entryForm}" th:action="@{/entry/regist}" method="post">
							<table class="formTable">
								<tbody>
								<!-- loop -->
								<tr>
									<th colspan="2"><span class="mark">お名前</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '姓', 'familyName', 'text size_m', 100)" />
										<input th:replace="fragments/inputField :: input ('text', '名', 'name', 'text size_m', 100)" />
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">お名前（フリガナ）</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', 'セイ', 'familyNameKana', 'text size_m', 100)" />
										<input th:replace="fragments/inputField :: input ('text', 'メイ', 'nameKana', 'text size_m', 100)" />
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">メールアドレス</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('email', '', 'email', 'text size_l', 100)" />
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">パスワード</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('password', '', 'password', 'text size_l', 100)" />
										<p class="sub">半角英数字8～15文字 / 記号は「.」「_」「-」のみ使用可能</p>
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">パスワード（確認用）</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('password', '', 'passwordConf', 'text size_l', 100)" />
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">性別</span><span class="required">【必須】</span></th>
									<td>
										<input th:replace="fragments/selectField :: select ('sex', ${@vh.values('Sex')}, 'code', 'text')" />
									</td>
								</tr>
								<tr>
									<th rowspan="5"><span class="mark">住所</span></th>
									<th>郵便番号
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'zip', 'text size_m', 8)" />
										<p class="sub">半角数字、ハイフン(-)／記入例：123-4567</p>
									</td>
								</tr>
								<tr>
									<th>都道府県
									<td>
										<input th:replace="fragments/selectField :: select ('prefectureId', ${@vh.values('Prefecture')}, 'code', 'text')" />
									</td>
								</tr>
								<tr>
									<th>市区町村<!-- <span class="required">【必須】</span> --></th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'area', 'text size_l', 100)" />
									</td>
								</tr>
								<tr>
									<th>町名番地<!-- <span class="required">【必須】</span> --></th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'address', 'text size_l', 100)" />
									</td>
								</tr>
								<tr>
									<th>建物名</th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'building', 'text size_l', 100)" />
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">電話番号</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'tel', 'text size_l', 100)" />
										<p class="noticetxt">例：090-1234-5678</p>
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">生年月日</span></th>
									<td>
										<input th:replace="fragments/inputField :: input ('date', '', 'birthday', 'text size_m', 10)" />
									</td>
								</tr>
								<!--/ loop -->
								</tbody>
							</table>
							<!-- ↑↑↑入力 -->

							<p class="btnArea"><input type="submit" name="regist" value="登録する"></p>

						</form>

					</div>
				</article>
			</main>
		</div>

	</div>
</body>
</html>
