<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>商品変更</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/items">商品管理DEMO</a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">商品详细</h5>
  			</div>
			<div class="card-body">
				<form th:action="@{/items/{id}(id=*{id})}" th:method="put" th:object="${item}">
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">商品名</label>
	          			<div class="col-md-10">
	            			<input class="form-control" type="text" th:field="*{name}" />
	            			<div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">价格</label>
	          			<div class="col-md-10">
	            			<input class="form-control" type="text" th:field="*{price}" />
	            			<div class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<label class="col-md-2 control-label">生产商</label>
	          			<div class="col-md-10">
	            			<input class="form-control" type="text" th:field="*{vendor}" />
	            			<div class="text-danger" th:if="${#fields.hasErrors('vendor')}" th:errors="*{vendor}"></div>
	          			</div>
	        		</div>
	        		<div class="form-group row">
	          			<div class="offset-md-2 col-md-9">
	            			<button class="btn btn-primary">更新</button>
	            		</div>
	          		</div>
	        	</div>
	      	</form>
		</div>
	</div>
	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>