<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>商品列表</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/items">商品管理DEMO</a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">商品列表<a href="/items/new" class="btn btn-success float-right">新建</a></h5>
  			</div>
  			<div class="card-body" >
     			<p>目前没有商品</p>
   			</div>
   			<table class="table table-striped" >
     			<thead>
       				<tr>
         				<th style="width: 10%">ID</th>
         				<th style="width: 30%">商品名</th>
         				<th style="width: 10%">价格</th>
         				<th style="width: 20%">生产商</th>
         				<th style="width: 30%"></th>
       				</tr>
     			</thead>
     			<tbody>
       				<tr th:each="item:${items}" th:object="${item}">
         				<td th:text="*{id}"></td>
         				<td th:text="*{name}"></td>
         				<td th:text="*{price}"></td>
         				<td th:text="*{vendor}"></td>
         				<td class="float-right">
	         				<form th:action="@{/items/{id}(id=*{id})}" th:method="delete">
	         					<a class="btn btn-primary" th:href="@{/items/{id}(id=*{id})}">详细</a>
	         					<a class="btn btn-primary" th:href="@{/items/{id}/edit(id=*{id})}">变更</a>
								<button class="btn btn-primary">删除</button>
							</form>
         				</td>
       				</tr>
     			</tbody>
   			</table>
  		</div>
	</div>
 	<script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>