<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<title>商品详细</title>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/items">商品管理DEMO</a>
			</div>
		</div>
    </nav>
	<div class="container">
		<div class="card card-primary mb-3">
  			<div class="card-header">
  				<h5 class="card-title">商品详细</h5>
  			</div>
			<div class="card-body">
		        <div th:object="${item}">
		        	<div class="form-group row">
		        		<label class="col-md-2">商品名</label>
						<div class="col-md-10" th:text="*{name}"></div>
		          	</div>
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">价格</label>
		            	<div class="col-md-10 form-control-static" th:text="*{price}"></div>
		          	</div>
		          	<div class="form-group row">
		            	<label class="col-md-2 control-label">生产商</label>
		            	<div class="col-md-10 form-control-static" th:text="*{vendor}"></div>
		          	</div>
				</div>
			</div>
		</div>
    </div>
    <script src="/js/jquery-3.4.1.min"></script>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>