<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
  <title>画像一覧</title>
</head>
<body>
<div layout:fragment="sidebar">
  <div th:replace="layouts/sidebar :: sidebar ('system', 'photo')"></div>
</div>
<div layout:fragment="content-header">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>画像一覧</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">画像一覧</li>
      </ol>
    </div>
  </div>
</div>
<div layout:fragment="content">

  <div class="card card-purple">
    <div class="card-header">
      <h3 class="card-title">検索条件</h3>
    </div>
    <form th:action="@{/photos/}" th:method="get" th:object="${photoListForm}">
      <input type="hidden" name="page" value="1"/>
      <div class="card-body">
        <div class="form-group">
          <div class="control-group">
            <input th:replace="fragments/input :: input ('text', 'ファイル名', 'name', 100)"/>
          </div>
        </div>
      </div>
      <div class="card-footer text-center">
        <button type="submit" class="btn btn-info">検索</button>
      </div>
    </form>
  </div>

  <form th:action="@{/photos}" th:method="get" th:object="${photoListForm}" id="pagingForm">
    <input type="hidden" name="name" th:value="*{name}">
  </form>

  <div class="row">
    <div class="col-12">
      <div class="card card-purple">
        <div class="card-header">
          <h3 class="card-title">検索結果</h3>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-hover" style="table-layout:fixed;">
            <thead>
            <tr>
              <th>種別</th>
              <th style="width:300px;">ファイル名</th>
              <th>画像</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${pages}">
              <td th:text="*{e.imageType.text}"></td>
              <td th:text="*{e.imageName}"></td>
              <td>
                <img th:src="${@img.url('/stocks', e.imageName)}" width="150px"/>
              </td>
              <td class="float-right">
                <form th:action="@{/photos?(name=*{e.imageName})}" th:method="delete">
                  <button class="btn btn-danger m-1 btn-sm js-delete">削除</button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout:fragment="scripts">
  <script type="text/javascript" th:src="@{/static/js/photo/list.js}"></script>
</div>
</body>
</html>
