<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
	<head layout:fragment="layouts/layout::header">
	<title>投稿修正確認画面｜Sample</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="content">
			<main>
				<article class="detail">
					<div class="entry-header">
					  <h1 class="entry-title">投稿修正確認画面</h1>
					</div>
					<div class="entry-content">

						<p>以下の内容で登録します。</p>
						<form th:object="${memberPostEditForm}" th:action="@{/member/post/edit}" id="form1"
							th:method="put">
							<input type="hidden" name="postId" th:value="*{postId}" />
							<input type="hidden" name="title" th:value="*{title}" />
							<th:block  th:each="e, s : *{postImageId}" >
								<input type="hidden" name="postImageId" th:value="${e}" />
							</th:block>
							<th:block  th:each="e, s : *{postTagId}" >
								<input type="hidden" name="postTagId" th:value="${e}" />
							</th:block>
							<input type="hidden" name="text" th:value="*{text}" />
							<input type="hidden" name="version" th:value="*{version}" />
							<table class="formTable">
								<tr>
									<th colspan="2"><span class="mark">タイトル</span></th>
									<td th:text="*{title}"></td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">写真</span></th>
									<td>
										<ul class="selectedPhotoList">
											<li  th:each="e, s : *{postImageId}" >
												<img th:src="${@img.url(e, '_square')}" width="120px"/>
											</li>
										</ul>
									</td>
								</tr>
								<tr>
									<th colspan="2"><span class="mark">本文</th>
									<td th:text="*{text}"></td>
								</tr>
							</table>
							<div class="btnArea">
								<div class="left">
									<input type="button" name="regist" value="前に戻る" class="js-submit" th:data-uri="@{/member/post/edit?back}">
								</div>
								<input type="submit" name="complete" value="修正する" class="js-submit" th:data-uri="@{/member/post/edit?complete}">
							</div>
						</form>

					</div>
				</article>
			</main>
		</div>

	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" th:inline="javascript">
		$(function() {
			// サブミット
			$('.js-submit').submitbutton();
		});
		</script>
	</div>
</body>
</html>