
		<footer class="footer">
			<section >© 2020 isystk.com</section>
		</footer>


		<div id="menu" >
			<div>
				<a href="" class="menu-close-btn"><i class="far fa-times-circle"></i></a>
			 </div>
			<div class="search">
				<form role="search" method="get" action="/">
					<label>
						<input type="search" placeholder="検索ワードを入力" value="" name="freeword">
					</label>
				</form>
			</div>

			<nav>
				<ul>
					<li><a href="/">トップ</a></li>
					<li class="page_item page-item-20"><a href="/member/">マイページ</a></li>
					<li class="page_item page-item-19"><a href="/member/post/regist/">投稿する</a></li>
					<div id="logout" th:if="${LoginUser != null}">
						<li class="page_item page-item-19">
							<a class="dropdown-item js-logout" href="#" >ログアウト</a>
							<form name="logout" th:action="@{/logout}" method="post"></form>
						</li>
					</div>
				</ul>
			</nav>

		</div>
