
	<header class="header">
		<div class="logo">Springboot｜Sample</div>
		<div id="menu-btn">
			<a href="#"><i class="fas fa-bars"></i></a>
		</div>
		<div class="search">
			<form role="search" method="get" action="/">
				<label>
					<input type="search" placeholder="検索ワードを入力" value="" name="freeword">
				</label>
			</form>
		</div>
		<div id="logout" th:if="${LoginUser != null}">
			<a class="dropdown-item js-logout" href="#" >ログアウト</a>
			<form name="logout" th:action="@{/logout}" method="post"></form>
		</div>
	</header>

	<div id="pc-menu">
		<nav>
			<ul>
				<li><a href="/">トップ</a></li>
				<li class="page_item page-item-20"><a href="/member/">マイページ</a></li>
				<li class="page_item page-item-19"><a href="/member/post/regist/">投稿する</a></li>
			</ul>
		</nav>
	</div>
