<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
		lang="ja" class="no-js">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="robots" content="noodp">

		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
		<title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">Sample</title>

		<link th:href="@{/static/css/normalize.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/static/css/common.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css}" rel="stylesheet" type="text/css" />

		<!--/* original */-->
		<!--link /-->
	</head>
	<body >
		<p class="headerSt" th:if="${!@env.isProduction()}" >
			<th:block th:if="${@env.isStaging()}">ステージング環境</th:block>
			<th:block th:if="${@env.isLocal()}">ローカル環境</th:block>
			<span style="float: right;" onclick="javascript:$(this).closest('p').remove();">非表示</span>
		</p>
		<div class="wrap">
			<!--/* ヘッダー */-->
			<div layout:fragment="header" th:remove="tag">
				<div th:replace="layouts/header"></div>
			</div>

			<!--/* メインコンテンツ */-->
			<div class="content-wrapper" >
				<!-- Content Header (Page header) -->
				<section class="content-header" >
					<div class="container-fluid">
						<div layout:fragment="content-header"  th:remove="tag">
						</div>
					</div><!-- /.container-fluid -->
				</section>
				<!-- /.content-header -->

				<!--/* グローバルメッセージ */-->
				<div th:remove="${#strings.isEmpty(str)}? body : none" th:with="str=${GlobalSuccessMessage}">
					<p th:text="${str}" class="alert alert-success"></p>
				</div>
				<div th:remove="${#strings.isEmpty(str)}? body : none" th:with="str=${GlobalDangerMessage}">
					<p th:text="${str}" class="errortxt"></p>
				</div>

				<div layout:fragment="content"  th:remove="tag">
				</div>
			</div>

			<!--/* フッター */-->
			<div layout:fragment="footer" th:remove="tag">
				<div th:replace="layouts/footer"></div>
			</div>
		</div><!--/* end wrapper */-->

		<div layout:fragment="footer" th:remove="tag">
			<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
			<script type="text/javascript" th:src="@{/webjars/axios/0.19.2/dist/axios.min.js}"></script>
			<script type="text/javascript" th:src="@{/static/js/lib/jquery-plugins.js}"></script>
			<script type="text/javascript" th:src="@{/static/js/lib/common.js}"></script>
			<script type="text/javascript" th:src="@{/static/js/lib/mixins.js}"></script>
		</div>
		<div layout:fragment="scripts" th:remove="tag" />
		<script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {
				// ログアウト
				$(".js-logout").bind("click", function() {
					$("form[name='logout']").submit();
				});
			});
		</script>
	</body>
</html>
