<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/layout}">
	<head layout:fragment="~{layouts/layout::header}">
	<title>投稿管理｜Sample</title>
</head>
<body>
	<div layout:fragment="sidebar">
		<div th:replace="~{layouts/sidebar :: sidebar ('user', 'post')}"></div>
	</div>
	<div layout:fragment="content-header">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>投稿詳細</h1>
			</div><!-- /.col -->
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
					<li class="breadcrumb-item"><a th:href="@{/post}">投稿管理</a></li>
					<li class="breadcrumb-item active">投稿詳細</li>
				</ol>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
	<div layout:fragment="content">

		<!-- Main content -->
		<div class="content">
			<div class="container-fluid">

				<div class="row">
					<div class="col-12">

						<div class="card card-purple">
							<div class="card-body">
								<div th:object="${post}">
									<div class="form-group row">
										<label class="col-md-2">投稿者</label>
										<div class="col-md-10" th:text="*{userId}"></div>
									</div>
									<div class="form-group row">
										<label class="col-md-2 control-label">タイトル</label>
										<div class="col-md-10 form-control-static" th:text="*{title}"></div>
									</div>
									<div class="form-group row">
										<label class="col-md-2 control-label">本文</label>
										<div class="col-md-10 form-control-static" th:text="*{text}"></div>
									</div>
								</div>
							</div>
							<div class="card-footer clearfix row">
								<div class="col-md-10" >
									<a class="btn btn-secondary" th:href="@{/post}">一覧に戻る</a>
								</div>
								<div class="col-md-2 text-right" >
									<form th:action="@{/post/{id}(id=*{postId})}" th:method="delete">
										<a class="btn btn-secondary" th:href="@{/post/{id}/edit(id=*{postId})}">变更</a>
										<button type="submit" class="btn btn-danger">削除</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>