<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
  <title>投稿一覧｜Sample</title>
</head>
<body>
<div layout:fragment="sidebar">
  <div th:replace="layouts/sidebar :: sidebar ('post', 'post')"></div>
</div>
<div layout:fragment="content-header">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>投稿一覧</h1>
    </div><!-- /.col -->
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">投稿一覧</li>
      </ol>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
<div layout:fragment="content">

  <div class="card card-purple">
    <a th:href="@{/post/regist/}" class="btn btn-secondary">新規登録</a>
  </div>

  <div class="card card-purple">
    <!-- .card-header -->
    <div class="card-header">
      <h3 class="card-title">検索条件</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form th:action="@{/post/}" th:method="get" th:object="${postSearchForm}">
      <input type="hidden" name="page" value="1"/>
      <div class="card-body">

        <div class="form-group">
          <div class="control-group">
            <input
                th:replace="fragments/inputField :: input ('text', '投稿ID', 'postId', 'col-sm-4', 10)"/>
          </div>
          <div class="control-group">
            <input
                th:replace="fragments/inputField :: input ('text', 'ユーザーID', 'userId', 'col-sm-4', 10)"/>
          </div>
          <div class="control-group">
            <input
                th:replace="fragments/inputField :: input ('text', 'タイトル', 'title', 'col-sm-10', 100)"/>
          </div>
          <div class="control-group">
            <div class="form-group row">
              <label class="col-md-2 control-label">投稿日</label>
              <div class="col-md-10">
                <div class="row">
                  <input
                      th:replace="fragments/inputField :: input ('date', '', 'registDateFrom', '', 10)"/>
                  <div class="col-sm-1 text-center">～</div>
                  <input
                      th:replace="fragments/inputField :: input ('date', '', 'registDateTo', '', 10)"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer text-center">
        <button type="submit" class="btn btn-secondary">検索</button>
      </div>

    </form>
  </div>

  <form th:action="@{/post}" th:method="get" th:object="${postSearchForm}" id="pagingForm">
    <input type="hidden" name="postId" th:value="*{postId}">
    <input type="hidden" name="userId" th:value="*{userId}">
    <input type="hidden" name="title" th:value="*{title}">
  </form>

  <div class="row">
    <div class="col-12">

      <div class="card card-purple" th:if="${0 < pages.count}">
        <!-- .card-header -->
        <div class="card-header">
          <h3 class="card-title">検索結果</h3>
          <div class="dropdown text-right">
            <button class="btn btn-default dropdown-toggle btn-sm" type="button" id="dropdownMenu1"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              操作
              <span class="caret"></span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <a class="dropdown-item text-muted js-download" th:href="@{/post/download/post.csv}">CSVダウンロード</a>
              <a class="dropdown-item text-muted js-download" th:href="@{/post/download/post.xlsx}">Excelダウンロード</a>
              <a class="dropdown-item text-muted js-download" th:href="@{/post/download/post.pdf}">PDFダウンロード</a>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover" style="table-layout:fixed;">
            <thead>
            <tr>
              <th>投稿ID</th>
              <th>投稿者</th>
              <th style="width:400px;">タイトル</th>
              <th>投稿日時</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${pages.data}">
              <td th:text="*{e.postId}"></td>
              <td th:text="*{e.tUser.familyName}"></td>
              <td th:text="*{e.title}"></td>
              <td th:text="${#temporals.format(e.registTime, 'yyyy/MM/dd')}"></td>
              <td class="float-right">
                <form th:action="@{/post/{id}/(id=*{e.postId})}" th:method="delete">
                  <a class="btn btn-secondary m-1 btn-sm" th:href="@{/post/{id}/(id=*{e.postId})}">詳細</a><br>
                  <a class="btn btn-secondary m-1 btn-sm"
                     th:href="@{/post/edit/{id}/(id=*{e.postId})}">变更</a><br>
                  <button class="btn btn-danger m-1 btn-sm js-delete">削除</button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <!-- .card-footer -->
        <div class="card-footer clearfix ">
          <div th:replace="fragments/paginator :: paginator (${pages}, '/post')"/>
        </div>
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->
    </div>
  </div>

</div>
<div layout:fragment="scripts">
  <script type="text/javascript" th:inline="javascript">
			$(document).ready(function() {
				$('.js-download').click(function(e) {
					e.preventDefault();
					var self = $(this),
						href = self.attr('href'),
						form = $('#pagingForm');
					location.href = [href, form.serialize()].join('?');
				});
				$('.js-delete').click(function(e) {
					if (!confirm('削除します。よろしいですか？')) {
						e.preventDefault();
						return false;
					}
				});
			});

  </script>
</div>
</body>
</html>
