<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="layouts/layout">
	<head layout:fragment="layouts/layout::header">
	<title>ログイン｜Sample</title>
</head>
<body>
	<div layout:fragment="content">

		<div class="content">
			<main>
				<article class="detail">
					<div class="entry-header">
					  <h1 class="entry-title">ログイン画面</h1>
					</div>
					<div class="entry-content">

						<p>ご登録のメールアドレス・パスワードでログイン</p>

						<form id="loginForm" th:object="${loginForm}" th:action="@{/authenticate}" method="post">
							<table class="formTable">
								<tbody>
								<!-- loop -->
								<tr class="rowspan">
									<th><span class="mark">メールアドレス</span><span class="required">【必須】</span></th>
									</tr>
								<tr>
									<td>
										<input th:replace="fragments/inputField :: input ('text', '', 'loginId', 'text size_l', 100)" />
										<p class="sub">記入例：xxxx@bbb.cc</p>
									</td>
								</tr>
								<!--/ loop -->
								<!-- loop -->
								<tr class="rowspan">
									<th><span class="mark">パスワード</span><span class="required">【必須】</span></th>
								</tr>
								<tr>
									<td>
										<input th:replace="fragments/inputField :: input ('password', '', 'password', 'text size_l', 100)" />
									</td>
								</tr>
								<!--/ loop -->
								</tbody>
							</table>
							<!-- ↑↑↑入力 -->

							<p class="sub"><a href="/entry/regist/">新規会員登録はこちら</a></p>
							<p class="sub"><a href="/entry/remind/">パスワードをお忘れの方はこちら</a></p>

							<p class="btnArea"><input type="submit" name="login" value="ログイン"></p>

						</form>

					</div>
				</article>
			</main>
		</div>

	</div>
</body>
</html>
