<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/layout">
<head layout:fragment="layouts/layout::header">
  <title>ログイン｜Sample</title>
</head>
<body>
<div layout:fragment="header">
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
  </nav>
</div>

<!--/* サイドメニュー */-->
<div layout:fragment="sidebar">
  <aside class="main-sidebar sidebar-dark-purple elevation-4">
    <!-- Brand Logo -->
    <a th:href="@{/}" class="brand-link">
      <img th:src="@{/static/images/AdminLTELogo.png}" alt="AdminSample Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE Sample</span>
    </a>
  </aside>
</div>

<div layout:fragment="content-header">
  <div class="row mb-2">
    <div class="col-sm-6">
      <h1>ログイン</h1>
    </div><!-- /.col -->
  </div><!-- /.row -->
</div>
<div layout:fragment="content">

  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">メールアドレスとパスワードを入力して下さい</p>

      <form id="loginForm" class="form-horizontal" th:object="${loginForm}"
            th:action="@{/authenticate}" method="post">
        <div class="box-body">
          <div class="form-group" th:with="invalid=${#fields.hasErrors('loginId')}"
               th:class="${'form-group' + (invalid ? ' has-error' : '')}">
            <input type="text" class="form-control" name="loginId" autofocus=""
                   placeholder="メールアドレス" th:value="*{loginId}"/>
          </div>
          <div class="form-group" th:with="invalid=${#fields.hasErrors('password')}"
               th:class="${'form-group' + (invalid ? ' has-error' : '')}">
            <input type="password" class="form-control" name="password" placeholder="パスワード"/>
          </div>
          <div class="form-group text-center">
            <button type="submit" class="btn bg-purple w-50">ログイン</button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
</body>
</html>
